.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-image: linear-gradient( to right, #23494A, #BFFFC7);
  //background-image: linear-gradient(-90deg, #451E61 5%, #FB8E6A);
  background-color:  	#F5F5F5;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid {
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
